.header {
  background-color: #242526 !important;
}
#logo {
  width: 3%;
  margin: 0px 7px;
}
.form-control {
  color: white !important;
    background-color: #3A3B3C !important;
    border-radius :  1.25rem solid #3A3B3C !important;
    border : 1px solid #3A3B3C !important;
    border-radius:  1.25rem !important;
}

#navlink{
  color: aliceblue;
}
@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

.mr-sm-2{
    height: 40px  !important;
    padding: 0 40px 0 6px !important;
    font-size: 17px !important;
    margin: 3px 0 !important;
    font-family: inherit !important;
}

.mr-sm-2::-webkit-input-placeholder { 
font-family: FontAwesome;
font-weight: normal;
overflow: visible;
vertical-align: top;
display: inline-block !important;
padding-left: 5px;
padding-top: 2px;
color: #919396 !important;
}

.mr-sm-2::-moz-placeholder  { 
font-family: FontAwesome;
font-weight: normal;
overflow: visible;
vertical-align: top;
display: inline-block !important;
padding-left: 5px;
padding-top: 2px;
color: #919396 !important;
}

.mr-sm-2:-ms-input-placeholder  { 
font-family: FontAwesome;
font-weight: normal;
overflow: visible;
vertical-align: top;
display: inline-block !important;
padding-left: 5px;
padding-top: 2px;
color: #919396 !important;
}

.form-control:focus {
  box-shadow: none !important;
}

#bg-vertical-dropdown-1{
  width: 40px;
    height: 40px;
    padding: 7px 0px;
    border-radius: 20px;
    text-align: center;
    font-size: 19px;
    line-height: 1.50857;
    margin: 0px 5px;
}

.btn-primary {
  color: #fff;
  background-color: #3A3B3C !important;
  border-color: #3A3B3C !important;
}

.btn-primary:hover {
  background-color: #696969 !important;
}

.btn:focus {
  outline: 0;
  box-shadow: none !important;
}
.btn-primary:focus {
  box-shadow: none !important;
}
.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: none !important;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
  box-shadow: none !important;
}

.btn-primary.focus, .btn-primary:focus {
  box-shadow:  none !important;
}
.dropdown-menu {
  left: -121px !important;
  background-color: #242526 !important;
  
}
#dropdowncolor {
  color: #919396;
}

.MuiIconButton-root {
  padding: 8px !important;
}
#avatarname {
  color: white;
  margin-top: 10px;
}

/* ///////////////// */
   /* Menuheader */
/* ///////////////// */


.MuiPaper-root {
  background-color: #242526 !important;
}
.iconemenu.MuiSvgIcon-root {
  font-size: 1.7rem !important;
}
.MuiTab-textColorPrimary.Mui-selected {
  color: #B7161C !important;
}
.PrivateTabIndicator-colorPrimary-5 {
  background-color: #B7161C !important;
}
.MuiTab-textColorPrimary {
  color: white !important;
}
.MuiPaper-elevation1 {
  box-shadow: none !important;
}

/* //////// */
  /* Home */
/* //////// */

.intro {
  height: 561px;
  position: relative;
  color: #F1F2EE;
  border-top: 1px solid #242526;
}

.intro .intro-content {
  text-align: center;
  position: absolute;
  margin: -35px 238px;
}

.intro .overlay-intro {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: .9;
}

.intro .intro-title {
  color: #F1F2EE;
  font-weight: 600;
  font-size: 3rem;
}

.intro .intro-subtitle {
  font-size: 2rem;
  font-weight: 300;
  margin-top: -20px;
}

/* .intro .text-slider-items {
  font-weight: bolder;
} */

.intro-single {
  height: 350px;
}

.intro-single .intro-content {
  margin-top: 30px;
}

.intro-single .intro-title {
  text-transform: uppercase;
  font-size: 3rem;
}

.intro-single .breadcrumb {
  background-color: transparent;
  color: #0078ff;
}

.intro-single .breadcrumb .breadcrumb-item:before {
  color: #cde1f8;
}

.intro-single .breadcrumb .breadcrumb-item.active {
  color: #cde1f8;
}

.intro-single .breadcrumb a {
  color: #fff;
}

.intro img {
  width:300px;
   clip-path:ellipse(50% 50%);
   margin: 40px 290px;
}