/* * {
  background-color: #242526
} */

.header {
  background-color: #242526 !important;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}
#logo {
  width: 3%;
  margin: 0px 7px;
}
.form-control {
  color: white !important;
    background-color: #3A3B3C !important;
    border-radius :  1.25rem solid #3A3B3C !important;
    border : 1px solid #3A3B3C !important;
    border-radius:  1.25rem !important;
}

#navlink{
  color: aliceblue;
}
@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

.mr-sm-2{
    height: 40px  !important;
    padding: 0 40px 0 6px !important;
    font-size: 17px !important;
    margin: 3px 0 !important;
    font-family: inherit !important;
}

.mr-sm-2::-webkit-input-placeholder { 
font-family: FontAwesome;
font-weight: normal;
overflow: visible;
vertical-align: top;
display: inline-block !important;
padding-left: 5px;
padding-top: 2px;
color: #919396 !important;
}

.mr-sm-2::-moz-placeholder  { 
font-family: FontAwesome;
font-weight: normal;
overflow: visible;
vertical-align: top;
display: inline-block !important;
padding-left: 5px;
padding-top: 2px;
color: #919396 !important;
}

.mr-sm-2:-ms-input-placeholder  { 
font-family: FontAwesome;
font-weight: normal;
overflow: visible;
vertical-align: top;
display: inline-block !important;
padding-left: 5px;
padding-top: 2px;
color: #919396 !important;
}

.form-control:focus {
  box-shadow: none !important;
}

#bg-vertical-dropdown-1{
  width: 40px;
    height: 40px;
    padding: 7px 0px;
    border-radius: 20px;
    text-align: center;
    font-size: 19px;
    line-height: 1.50857;
    margin: 0px 5px;
}

.btn-primary {
  color: #fff;
  background-color: #3A3B3C !important;
  border-color: #3A3B3C !important;
}

.btn-primary:hover {
  background-color: #696969 !important;
}

.btn:focus {
  outline: 0;
  box-shadow: none !important;
}
.btn-primary:focus {
  box-shadow: none !important;
}
.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: none !important;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
  box-shadow: none !important;
}

.btn-primary.focus, .btn-primary:focus {
  box-shadow:  none !important;
}
.dropdown-menu {
  left: -121px !important;
  background-color: #242526 !important;
  
}
#dropdowncolor {
  color: #919396;
}

.MuiIconButton-root {
  padding: 8px !important;
}
#avatarname {
  color: white;
  margin-top: 10px;
  padding: 0 5px;
}
.linkavatar {
  display: flex;
}

.linkavatar:hover {
  color: #0056b3;
  text-decoration: none;
}

/* ///////////////// */
   /* Menuheader */
/* ///////////////// */


.MuiPaper-root {
  background-color: #242526 !important;
}
.iconemenu.MuiSvgIcon-root {
  font-size: 1.7rem !important;
}
.MuiTab-textColorPrimary.Mui-selected {
  color: #B7161C !important;
}
.PrivateTabIndicator-colorPrimary-5 {
  background-color: #B7161C !important;
}
.MuiTab-textColorPrimary {
  color: white !important;
}
.MuiPaper-elevation1 {
  box-shadow: none !important;
}

/* //////// */
  /* Home */
/* //////// */

.intro {
  height: 561px;
  position: relative;
  color: #F1F2EE;
  border-top: 1px solid #242526;
}

.intro .intro-content {
  text-align: center;
  position: absolute;
  margin: -35px 238px;
}

.intro .overlay-intro {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: .9;
}

.intro .intro-title {
  color: #F1F2EE;
  font-weight: 600;
  font-size: 3rem;
  font-family: monospace;

}

.intro .intro-subtitle {
  font-size: 2rem;
  font-weight: 300;
  margin-top: -20px;
  font-family: monospace;
}

.intro-single {
  height: 350px;
}

.intro-single .intro-content {
  margin-top: 30px;
}

.intro-single .intro-title {
  text-transform: uppercase;
  font-size: 3rem;
}

.intro-single .breadcrumb {
  background-color: transparent;
  color: #0078ff;
}

.intro-single .breadcrumb .breadcrumb-item:before {
  color: #cde1f8;
}

.intro-single .breadcrumb .breadcrumb-item.active {
  color: #cde1f8;
}

.intro-single .breadcrumb a {
  color: #fff;
}

.intro img {
  width:300px;
   clip-path:ellipse(50% 50%);
   margin: 40px 290px;
}

/* ///////// */
/* Apropos */
/* //////// */

     /* ///////// */
      /* Apropo */
     /* //////// */


.apropos  {
  position: relative;
  border-top: 1px solid #242526;
  background-color: #18191A;
  height: 1650px;
}
.apropo{
  display: flex;
  justify-content: space-around;
  color: #F1F2EE;
}
.apropo img {
  margin-top: 90px;
}
.papropo {
  max-width: 450px;
  margin: auto;
  margin-top: 150px;
}
.papropo p {
  line-height: 2.2rem;
  font-family: monospace;
  font-size: 1.3rem;
  margin-left: 20px;
}
.papropo h1 {
  margin-left: 120px;
  margin-bottom: 20px;
  font-family: cursive;
  background: -webkit-linear-gradient(#B7161C, #eee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.papropo a {
  color: white;
  font-size: 50px;
  margin-left: 45px;
}
.papropo a:hover {
  background: -webkit-linear-gradient(#B7161C, #eee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
}

     /* ///////// */
/* Formation / Diplome */
     /* //////// */

.cardd p h2 {
  color: #18191A;
}
.cardd .card {
  margin: 80px 20px;
  display: flex;
  border: none !important;
}
#imgcard {
  height: 280px;
  box-shadow: 5px 1px 10px 0px #888888 ;
  transition: all .4s ease;
  margin-top: 10px;
}
#imgcard:hover{
  height: 310px;
}
.card h2 {
  margin-bottom: 20px;
  font-family: cursive;
  background: -webkit-linear-gradient(#B7161C, #A9A9A9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cardd .card p {
  font-size: large;
  font-family: monospace;
}
.cardf .card{
  margin: 0px 5px 0px;
  display: flex;
  border: none !important;
}
.cardf .card p{
  font-size: inherit;
  font-family: monospace;
}

/* /////////
competence
///////// */

.competence{
  position: relative;
  border-top: 1px solid #242526;
  background-color: #18191A;
  height: 1100px;
}
.competence h1 {
  font-family: cursive;
  background: -webkit-linear-gradient(#B7161C, #eee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 100px 0px 0px 40px;
}
.iconecompetence4{
 margin-top: 20px;
}
.iconecompetence4 img {
  padding: 20px 45px;
}
.iconecompetence3 img {
  padding: 20px 79px;
}
.iconecompetence2 img {
  padding: 20px 140px;
}

/* /////////
pourcentage
///////// */

.MuiCircularProgress-root {
  width: 120px !important;
    height: 0px !important; 
}
.MuiCircularProgress-colorPrimary {
  color: #E74C3C !important;
}
.MuiTypography-colorTextSecondary {
  color: white !important;
}
.MuiTypography-caption {
  font-size: 2.75rem !important;
  margin-left: 123px !important;
}
.iconecompetence4 .MuiBox-root {
  margin: 0px -22px;
}
.iconecompetence3 .MuiBox-root {
  margin: 0px -58px;
}
.iconecompetence2 .MuiBox-root {
  margin: 0px -120px;
}


/* ///////
experience
/////// */

.experience {
  position: relative;
  border-top: 1px solid #242526;
  background-color: #18191A;
  height: 1100px;
}
#hexp {
  font-family: cursive;
  background: -webkit-linear-gradient(#B7161C, #eee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 100px 0px 0px 40px;
}
.MuiTimelineContent-root .MuiPaper-root {
  background-color: #fff !important;
}
.MuiTimelineDot-defaultGrey {
  color: #B7161C !important;
  background-color: #fff !important;
}
.MuiTimelineDot-defaultPrimary {
  color: #B7161C !important;
  background-color: #fff !important;
}
.MuiTimelineDot-outlinedPrimary {
  color: #B7161C !important;
  border-color: transparent !important;
  background-color: #fff !important;
}
.MuiTimelineDot-defaultSecondary {
  color: #B7161C !important;
  background-color: #fff !important;
}
.makeStyles-secondaryTail-9 {
  background-color: #bdbdbd !important;
}
.MuiPaper-root #lieu {
  color: #B7161C !important;
}
.MuiTimelineItem-alignAlternate:nth-child(even) .MuiTimelineItem-content {
  text-align: left !important;
}
.MuiTypography-body1 {
  line-height: 2 !important;
}

/* ///////
 Projets
/////// */
/* .projets{
  margin-top: 100px;
} */